<html>
	<link rel="stylesheet" href="../styles.css">

<head>
	<title>Parcel Sandbox</title>
	<meta charset="UTF-8" />
</head>

<body>
	<div id="app" class="app test">123</div>
	<div id="app" class="app">456</div>
	<div id="app" class="test">789</div>
	<textarea id="textbox" onkeypress="onTestChange();"></textarea>

	<script src="../index.js"></script>
	<script src="../server.js"></script>
	
</body>

</html>