<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/public/styles.css">
	<link rel="stylesheet" href="/public/awesomplete.css" />
<head>
	<title>Bitwise.</title>
	<meta charset="UTF-8" />
	<script src="/public/jquery-3.3.1.min.js"></script>
	<script src="/public/awesomplete.js" async></script>

</head>

<body>
	<input class="awesomplete" id="textbox"/>
	<div style="margin-top: 10px;" id="resultDiv">
		<span id="resultSpan" class="result" truthy="false">N/A</span>
	</div>

</body>
	<script src="../public/parse.js"></script>
</html>