<!DOCTYPE html>
<html>
	<link rel="stylesheet" href="/public/styles.css">
	<link rel="stylesheet" href="/public/awesomplete.css" />
<head>
	<title>Bitwise.</title>
	<meta charset="UTF-8" />
	<script src="/public/jquery-3.3.1.min.js"></script>
	<script src="/public/awesomplete.js" async></script>

</head>

<body>
	<input class="awesomplete" list="mylist" id="textbox"/>
	<datalist id="mylist">
		<option>Ada</option>
		<option>Java</option>
		<option>JavaScript</option>
		<option>Brainfuck</option>
		<option>LOLCODE</option>
		<option>Node.js</option>
		<option>Ruby on Rails</option>
	</datalist>
	<div style="margin-top: 10px;" id="resultDiv">
		<span id="resultSpan" class="result" truthy="false">N/A</span>
	</div>

</body>
	<script src="../public/parse.js"></script>
</html>