html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
}

header {

}

@import "compass/css3";

.navigation {
  margin: 0;
  background: grey;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em; /* 1x size of text */
  color: white;
  font-size: 20px;
}

.navigation a:hover {
  background: #636363;
}

.active {
  background: darkgrey;
}

.navigation textarea {
  margin: 10px;
  font-size: 20px;
  margin-right: auto;
  margin-left: 10px;
}

/* #search {
  margin-right: auto;
  margin: 10px;
  font-size: 20px;
} */

.inputs {
  font-size: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#di1, #di2, #bi1, #bi2 {
  height: 1em;
  font-size: 20px;
}


.function {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

#operator, #n1, #n2, #output {
  font-size: 20px;
  height: 2em;;
}

#operator {
  position: relative;
  top: 2em;
}

#output {
  margin-top: 8px;
  border-top: 1px solid black;
  padding-top: 3px;
  font-size: 23px;
}

.button
{
		height:50px;
		position:fixed;
		bottom:-0.3%;
		right:4%;
		max-height:5%;	
		z-index:2;
		color: grey;	
}
		
.instructions
{
               	border:solid;
		border-color:royalblue;
		position:fixed;
		bottom:10%;
		right:5%;
		padding:10px;
		color:black;	
	
}	

.footer {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: grey;
  color: white;
  font-size: 15px;
  padding: 1em;
}
