.result {
	font-weight: bold;
}

[truthy="true"] {
	color: green;
}

[truthy="false"] {
	color: red;
}

html, body {
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  background-color: #222;
  color: #bbb;
}

header {

}

@import "compass/css3";

.navigation {
  margin: 0;
  background: grey;
  display: flex;
  justify-content: flex-end;
}

.navigation a {
  text-decoration: none;
  display: block;
  padding: 1em; /* 1x size of text */
  color: white;
  font-size: 20px;
}

.navigation a:hover {
  background: #636363;
}

.active {
  background: #222;
}

.navigation textarea {
  margin: 10px;
  font-size: 20px;
  margin-right: auto;
  margin-left: 10px;
}

/* #search {
  margin-right: auto;
  margin: 10px;
  font-size: 20px;
} */

.inputs {
  font-size: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

#di1, #di2, #bi1, #bi2 {
  height: 1em;
  font-size: 20px;
}


.function {
  margin: 20px;
  display: flex;
  flex-direction: row;
}

#operatorDiv, #firstIntSpan, #secondIntSpan, #resultSpan {
  font-size: 25px;
  height: 2em;
}

#textbox {
	display: block;
	float: left;
}

#operatorDiv {
  position: relative;
  float:right;
  top: 30px;
  font-size: 25px;
  padding-right: 10px;
}

#resultSpan {
  margin-top: 8px;
  border-top: 1px solid black;
  padding-top: 3px;
  font-size: 25px;
}

.button
{
		height:50px;
		position:fixed;
		bottom:-0.3%;
		right:4%;
		max-height:5%;
		z-index:2;
		color: grey;
}

.instructions
{
    border:solid;
		border-color:royalblue;
		position:fixed;
		bottom:10%;
		right:5%;
		padding:10px;
		color:black;

}

.footer {
  position: absolute;
  bottom: 0;
  width: -webkit-fill-available;
  background-color: grey;
  color: white;
  font-size: 15px;
  padding: 1em;
}
